<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <!--importo il frammento per l'header-->
    <th:block th:replace="~{fragments :: header}">

    </th:block>

    <!--importo il frammento per bootstrap-->
    <th:block th:replace="~{fragments :: bootstrap}">
</head>

<body>
    <main>
        <div class="d-flex justify-content-center align-items-center flex-column gap-4">
            <h2 class="mt-4">Best Movies</h2>
            <ul class="d-flex justify-content-center flex-column list-unstyled border border-dark">
                <li class="border-bottom border-dark px-5 py-3 w-100 text-center" th:each="movie : ${moviesList}"
                    th:text="${movie.titolo}">
                </li>
            </ul>
        </div>
    </main>
</body>

</html>