<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <!--importo il frammento per l'header-->
    <th:block th:replace="~{fragments :: header}">

    </th:block>

    <!--importo il frammento per bootstrap-->
    <th:block th:replace="~{fragments :: bootstrap}">
</head>

<body>


    <main>
        <div>
            <h2>Best Movies</h2>
            <ul>
                <li th:each="movie : ${moviesList}" th:text="${movie.titolo}"></li>
            </ul>

        </div>
    </main>
</body>

</html>